{% block content %}
    <div class="col-lg-12">
	    <div class="row">
		    <div class="col-lg-4 col-md-4 col-sm-4 mb">
				<div class="white-panel pn">
					<div class="white-header"><h2>Оформить прием у врача</h2></div>
						{% load bootstrap %}
                        <form class="form-horizontal" method="post" action="{% url 'create_reception' %}" enctype="multipart/form-data">{% csrf_token %}
                            {{ form|bootstrap }}
                        <input type="submit" value="Отправить">
                        </form>
				</div>
			</div>
        </div>
    </div>
{% endblock %}